header {
  background-color: #3e3e3e;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 1.3rem;

    padding: 10px;
    .logo {
      color: #fff;
      font-weight: 600;
      font-size: 2rem;
    }

    .navBar {

      ul {
        display: flex;
        gap:15px;
        justify-content: center;
        align-items: center;
        li {
            &::marker{
                unicode-bidi: unset;
                font-variant-numeric: slashed-zero;
                text-transform: none;
                text-indent: 0px !important;
                text-align: start !important;
                text-align-last: start !important;
            }
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
