nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    .logo{
        color:red
    }
    
    
    .navBar{
        display: flex;
        a{
            color:#fff;
            list-style: none;
        }
    }
}

