
    .menuTitle {
        text-align: center;
        h1 {
            color:#fff;
            width: 80%;
            margin: 10px auto;
            line-height: 1.3;
        }
        p {
          font-size: 1.5rem;
          width: 50%;
          margin: auto;
          line-height: 1.5;
          color: #aeaeae;
        }
      }
