.faqBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    margin: 5px !important;
  }
  svg {
    cursor: pointer;
    font-weight: bold;
  }
}

.faqBoxBody {
  background-color: #fff;
  transition: all 2s ease-in-out;
  p {
  }
}
.trans {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  height: 0;
  // display: none;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;

  overflow: hidden;
  p {

  }
}
