$color_1: #000000;
$color_2: #ffffff;
$font-family_1: "monospace";
$background-color_1: #dd5903;
$background-color_2: #ddd;
.center {
	text-align: center;
	// font-family: $font-family_1;
}
.pagination {
	display: inline-block;
	a {
		color: $color_1;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		transition: background-color 0.5s;
		border: 1px solid #ddd;
		margin: 0 4px;
		font-size: 20px;
    color:#fff;
		&:hover {
			&:not(.active) {
				background-color: $background-color_2;
			}
		}
	}
	a.active {
		background-color: $background-color_1;
		color: $color_2;
		border: 1px solid #dd5903
    ;
	}
}