// @import url("../../../styles/base.scss");
.flexPost {
  display: flex;
  flex-direction: column;

  .SinglePost {
    .postImage {
      height: 350px;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .postBody {
      padding: 40px;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
      border-bottom: 1px solid #eee;
      .postTitle {
        h3 {
          color: #f48840;
        }
      }
      .postHeadLine {
        h3 {
        }
      }
      .postInfo {
        display: flex;
        gap: 10px;
      }
      .postDescription {
      }
      .postFooter {
        display: flex;
        justify-content: space-between;
        color: #aaa;
        font-size: 14px;
        align-items: center;
        .label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 8px;
        }
        .share {
          display: flex;
          gap: 8px;
          span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
          }
        }

        svg {
          color: #f48840;
        }
      }
    }
  }
  .padding {
    padding: 40px;
  }
}
